In [2]:
# 将各种日期字符串转成日期格式
import pandas as pd
df=pd.DataFrame({
    '原日期':['14-Feb-20','02/14/2020','2020.02.14','2020/02/14','20200214']
})
df['转换后的日期']=pd.to_datetime(df['原日期'])
df

          原日期     转换后的日期
0   14-Feb-20 2020-02-14
1  02/14/2020 2020-02-14
2  2020.02.14 2020-02-14
3  2020/02/14 2020-02-14
4    20200214 2020-02-14

In [7]:
# 从多列中组合成一个日期
import pandas as pd
df=pd.DataFrame(
{
    'year':[2018,2019,2020],
    'month':[1,2,3],
    'day':[10,20,30],
    'hour':[13,14,15],
    'minute':[19,30,40],
    'second':[9,8,7]
})
df['组合后的日期']=pd.to_datetime(df)

df

   year  month  day  hour  minute  second              组合后的日期
0  2018      1   10    13      19       9 2018-01-10 13:19:09
1  2019      2   20    14      30       8 2019-02-20 14:30:08
2  2020      3   30    15      40       7 2020-03-30 15:40:07

In [23]:
# dt对象的使用
import pandas as pd
df=pd.read_excel('原日期.xlsx')
df['日期']=pd.to_datetime(df['原日期'])
#df.info()
df['年']=df['日期'].dt.year  # 提取年

#提取月
df['月']=df['日期'].dt.month  

#提取日
df['日']=df['日期'].dt.day 

#提取星期
df['星期几']=df['日期'].dt.day_name()# 方法

#提取季度
df['季度']=df['日期'].dt.quarter

#判断
df['是否年底']=df['日期'].dt.is_year_end
df

          原日期         日期     年   月   日       星期几  季度   是否年底
0   2020.1.12 2020-01-12  2020   1  12    Sunday   1  False
1   2020.6.15 2020-06-15  2020   6  15    Monday   2  False
2   2020.7.14 2020-07-14  2020   7  14   Tuesday   3  False
3  2020.12.31 2020-12-31  2020  12  31  Thursday   4   True
4   2021.1.16 2021-01-16  2021   1  16  Saturday   1  False
5   2021.2.14 2021-02-14  2021   2  14    Sunday   1  False
6   2021.3.18 2021-03-18  2021   3  18  Thursday   1  False
7   2021.4.24 2021-04-24  2021   4  24  Saturday   2  False

In [32]:
# 获取指定区间的数据
import pandas as pd
df=pd.read_excel('msb课程销售记录.xlsx')
#df.head()
df=df[['订单付款时间','会员名','实际支付金额','联系手机','学员姓名']]
df=df.sort_values(by=['订单付款时间'])

#将日期设置为索引
df=df.set_index('订单付款时间')
#df.head()
#df['2020'] # 求2020年数据
#df['2020-05'] #查看２０２０－０５月数据

#df['2020-05-25':'2020-05-25']# 查看2020-05-25日的数据
df['2020-06-01':'2020-06-30']

                         会员名  实际支付金额          联系手机 学员姓名
订单付款时间
2020-06-03 08:15:00  8q0vey1   12480  1***********  郭先生
2020-06-05 10:22:00  2cvkogn    2980  1***********  李先生
2020-06-06 10:38:00  al57mqn   15480  1***********  刘先生
2020-06-09 14:21:00  ksajlku   12480  1***********  车先生
2020-06-09 22:42:00  9p04wyh   12480  1***********  陈先生
2020-06-10 08:22:00  9t70iwk   15480  1***********  张先生
2020-06-11 01:56:00  kzynh5c   12480  1***********  范先生
2020-06-13 16:45:00  ivl58bm    2980  1***********  t先生
2020-06-21 18:35:00  1qyoqb5   15480  1***********  许先生
2020-06-21 22:36:00  5b0bycj   15480  1***********  颜先生

In [38]:
# 按不同时期统计数据
import pandas as pd
df=pd.read_excel('msb课程销售记录.xlsx')
df=df.set_index('订单付款时间')
#df.head()

# 按年统计求和
#df1=df.resample('AS').sum()

# 按季度统计求和
#df.resample('Q').sum()

#按月度统计数据
#df.resample('M').sum()

# 按星期统计数据
#df.resample('W').sum()

# 按天统计数据
df.resample('D').sum()

            实际支付金额
订单付款时间
2020-05-09   14480
2020-05-10       0
2020-05-11       0
2020-05-12       0
2020-05-13       0
...            ...
2020-10-21       0
2020-10-22       0
2020-10-23       0
2020-10-24       0
2020-10-25    2980

[170 rows x 1 columns]

In [45]:
#显示不同时期的数据　
import pandas as pd
df=pd.read_excel('msb课程销售记录.xlsx')
df=df.sort_values(by=['订单付款时间'])
df=df.set_index('订单付款时间')
#df.head()
#df.to_period('A').head() # 按年显示数据

# 按季度显示数据

#df.to_period('Q').head()

# 按月显示数据
#df.to_period('M').head()

# 按星期显示数据
df.to_period('W').head()

                           会员名  实际支付金额              课程名称 学员姓名         联系手机
订单付款时间
2020-05-04/2020-05-10  xrd1h82   14480          大数据全栈工程师  杨某某  1**********
2020-05-11/2020-05-17  xf142eh    8880  从零基础开始学Python大数据  杜某某  1**********
2020-05-11/2020-05-17  4jnqh86    2980        多线程与高并发第二版  黄某某  1**********
2020-05-11/2020-05-17  41mk55a   14480          大数据全栈工程师  周某某  1**********
2020-05-18/2020-05-24  5ax69ek    8880  从零基础开始学Python大数据  张某某  1**********

In [58]:
# 按时期统计并显示数据
import pandas as pd
df=pd.read_excel('msb课程销售记录.xlsx')
df=df.sort_values(by=['订单付款时间'])
df=df.set_index('订单付款时间')

# 按年统计并显示数据
#df.resample('AS').sum().to_period('A')


# 按季度统计并显示数据
#df.resample('Q').sum().to_period('Q')


# # 按月统计并显示数据
#df.resample('M').sum().to_period('M')

# # 按星期统计并显示数据
df.resample('W').sum().to_period('W')

                       实际支付金额
订单付款时间
2020-05-04/2020-05-10   14480
2020-05-11/2020-05-17   26340
2020-05-18/2020-05-24    8880
2020-05-25/2020-05-31   11860
2020-06-01/2020-06-07   30940
2020-06-08/2020-06-14   55900
2020-06-15/2020-06-21   30960
2020-06-22/2020-06-28       0
2020-06-29/2020-07-05       0
2020-07-06/2020-07-12   24960
2020-07-13/2020-07-19   15480
2020-07-20/2020-07-26   14480
2020-07-27/2020-08-02       0
2020-08-03/2020-08-09   26960
2020-08-10/2020-08-16   18460
2020-08-17/2020-08-23   26960
2020-08-24/2020-08-30       0
2020-08-31/2020-09-06   28960
2020-09-07/2020-09-13   26960
2020-09-14/2020-09-20   70700
2020-09-21/2020-09-27   12780
2020-09-28/2020-10-04   29960
2020-10-05/2020-10-11   31940
2020-10-12/2020-10-18   57900
2020-10-19/2020-10-25    2980